<a href="https://colab.research.google.com/github/hn5003162/Analise_Exploratoria_de_Dados/blob/main/Projeto_Aplicado_I_AED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
# decimal = "," informa que o , é o separador de decimais
base = pd.read_csv("https://raw.githubusercontent.com/hn5003162/Mack_Projeto_Aplicado_I/main/base-projeto-aplicado-i.csv",sep="|",decimal = ",")
base.head(50)

,ano,sigla_uf,nome_uf,nome_regiao,produto,area_plantada,area_colhida,quantidade_produzida,perdas,valor_producao,...,area_cafe,producao_cafe,valor_total_producao_cafe,despesa_total_comparacao,despesa_total,despesa_defensivos,quantidade_tratores,quantidade_maquina_colheita,quantidade_maquinas_plantio,proporcao_despesa_defensivos
0,2010,AC,Acre,Norte,Café,1271.0,1003.0,1029.0,279.847,2777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,AL,Alagoas,Nordeste,Café,5.0,5.0,2.0,0.000,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,AM,Amazonas,Norte,Café,2432.0,2048.0,3902.0,758.988,8804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,AP,Amapá,Norte,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,BA,Bahia,Nordeste,Café,152056.0,152056.0,153262.0,0.000,560050.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010,CE,Ceará,Nordeste,Café,7432.0,7432.0,3224.0,0.000,12025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010,DF,Distrito Federal,Centro-oeste,Café,1000.0,935.0,1052.0,73.000,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010,ES,Espírito Santo,Sudeste,Café,473183.0,473183.0,616722.0,0.000,1812702.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2010,GO,Goiás,Centro-oeste,Café,10026.0,10026.0,22835.0,0.000,73756.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2010,MA,Maranhão,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2010,MG,Minas Gerais,Sudeste,Café,1026613.0,1026613.0,1504188.0,0.000,6980674.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2010,MS,Mato Grosso do Sul,Centro-oeste,Café,1253.0,1253.0,1502.0,0.000,5695.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2010,MT,Mato Grosso,Centro-oeste,Café,15186.0,15186.0,12182.0,0.000,27101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2010,PA,Pará,Norte,Café,11201.0,11201.0,11951.0,0.000,37162.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010,PB,Paraíba,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2010,PE,Pernambuco,Nordeste,Café,3873.0,3873.0,1924.0,0.000,6687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2010,PI,Piauí,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2010,PR,Paraná,Sul,Café,82673.0,82673.0,139054.0,0.000,571777.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2010,RJ,Rio de Janeiro,Sudeste,Café,12940.0,12940.0,15012.0,0.000,53012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2010,RN,Rio Grande do Norte,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2010,RO,Rondônia,Norte,Café,156606.0,156606.0,141160.0,0.000,317392.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2010,RR,Roraima,Norte,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2010,RS,Rio Grande do Sul,Sul,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2010,SC,Santa Catarina,Sul,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2010,SE,Sergipe,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2010,SP,São Paulo,Sudeste,Café,204074.0,202752.0,278264.0,1109.897,1107604.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2010,TO,Tocantins,Norte,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2011,AC,Acre,Norte,Café,1194.0,1194.0,1374.0,0.000,4515.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2011,AL,Alagoas,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2011,AM,Amazonas,Norte,Café,1940.0,1716.0,2543.0,286.001,5773.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2011,AP,Amapá,Norte,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2011,BA,Bahia,Nordeste,Café,153804.0,153804.0,151742.0,0.000,838352.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2011,CE,Ceará,Nordeste,Café,7474.0,7474.0,3429.0,0.106,13037.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2011,DF,Distrito Federal,Centro-oeste,Café,780.0,780.0,1148.0,0.160,5530.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2011,ES,Espírito Santo,Sudeste,Café,467181.0,467181.0,709596.0,0.000,3043039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2011,GO,Goiás,Centro-oeste,Café,8863.0,8863.0,19411.0,0.000,71424.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2011,MA,Maranhão,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2011,MG,Minas Gerais,Sudeste,Café,1025366.0,1025366.0,1335738.0,0.000,9935604.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2011,MS,Mato Grosso do Sul,Centro-oeste,Café,1314.0,1314.0,1562.0,0.000,7922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2011,MT,Mato Grosso,Centro-oeste,Café,19884.0,19884.0,8269.0,0.122,26155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2011,PA,Pará,Norte,Café,10490.0,10490.0,10251.0,0.347,40171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2011,PB,Paraíba,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2011,PE,Pernambuco,Nordeste,Café,5092.0,5092.0,2460.0,0.120,8555.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2011,PI,Piauí,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2011,PR,Paraná,Sul,Café,74854.0,74854.0,110728.0,1.672,773012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2011,RJ,Rio de Janeiro,Sudeste,Café,12864.0,12864.0,15600.0,0.000,81185.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2011,RN,Rio Grande do Norte,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2011,RO,Rondônia,Norte,Café,153516.0,153516.0,88119.0,0.000,258948.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2011,RR,Roraima,Norte,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2011,RS,Rio Grande do Sul,Sul,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Exploração de estrutura de dados: colunas

In [ ]:
#Colunas do dataset
base.columns

Index(['ano', 'sigla_uf', 'nome_uf', 'nome_regiao', 'produto', 'area_plantada',
       'area_colhida', 'quantidade_produzida', 'perdas', 'valor_producao',
       'emissao', 'area_nao_utilizada', 'quantidade_estabelecimentos_cafe',
       'area_cafe', 'producao_cafe', 'valor_total_producao_cafe',
       'despesa_total_comparacao', 'despesa_total', 'despesa_defensivos',
       'quantidade_tratores', 'quantidade_maquina_colheita',
       'quantidade_maquinas_plantio', 'proporcao_despesa_defensivos'],
      dtype='object')

In [ ]:
# Número de linhas e colunas
base.shape

(216, 23)

In [ ]:
# Estrutura do dataset
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ano                               216 non-null    int64
 1   sigla_uf                          216 non-null    object
 2   nome_uf                           216 non-null    object
 3   nome_regiao                       216 non-null    object
 4   produto                           216 non-null    object
 5   area_plantada                     129 non-null    float64
 6   area_colhida                      129 non-null    float64
 7   quantidade_produzida              129 non-null    float64
 8   perdas                            129 non-null    float64
 9   valor_producao                    129 non-null    float64
 10  emissao                           216 non-null    float64
 11  area_nao_utilizada                27 non-null     float64
 12  quantidade_estabelecimentos_cafe  27 non-null     float64
 13  area_cafe                         27 non-null     float64
 14  producao_cafe                     27 non-null     float64
 15  valor_total_producao_cafe         27 non-null     float64
 16  despesa_total_comparacao          27 non-null     float64
 17  despesa_total                     27 non-null     float64
 18  despesa_defensivos                27 non-null     float64
 19  quantidade_tratores               27 non-null     float64
 20  quantidade_maquina_colheita       27 non-null     float64
 21  quantidade_maquinas_plantio       27 non-null     float64
 22  proporcao_despesa_defensivos      27 non-null     float64
dtypes: float64(18), int64(1), object(4)
memory usage: 38.9+ KB

In [ ]:
#Valores das colunas:
base.describe(include='all')

,ano,sigla_uf,nome_uf,nome_regiao,produto,area_plantada,area_colhida,quantidade_produzida,perdas,valor_producao,...,area_cafe,producao_cafe,valor_total_producao_cafe,despesa_total_comparacao,despesa_total,despesa_defensivos,quantidade_tratores,quantidade_maquina_colheita,quantidade_maquinas_plantio,proporcao_despesa_defensivos
count,216.00000,216,216,216,216,1.290000e+02,1.290000e+02,1.290000e+02,129.000000,1.290000e+02,...,27.000000,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,27.000000,2.700000e+01,2.700000e+01,2.700000e+01,27.000000
unique,NaN,27,27,5,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,AC,Acre,Nordeste,Café,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,8,8,72,216,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2013.50000,NaN,NaN,NaN,NaN,1.265915e+05,1.262692e+05,1.765149e+05,328.541264,9.987940e+05,...,46251.148148,6.761174e+04,5.320704e+05,1.190120e+06,1.701248e+06,151573.481481,1.702416e+07,5.828436e+06,4.075691e+06,0.136222
std,2.29661,NaN,NaN,NaN,NaN,2.563047e+05,2.561992e+05,3.834141e+05,1159.013713,2.433704e+06,...,174508.631602,2.661681e+05,1.968547e+06,1.750389e+06,2.354958e+06,155577.287171,2.089218e+07,6.276819e+06,4.672099e+06,0.084676
min,2010.00000,NaN,NaN,NaN,NaN,5.000000e+00,5.000000e+00,2.000000e+00,0.000000,1.000000e+00,...,0.000000,0.000000e+00,0.000000e+00,4.971000e+03,5.438300e+04,3206.000000,3.527460e+05,9.003300e+04,6.421900e+04,0.036000
25%,2011.75000,NaN,NaN,NaN,NaN,1.648000e+03,1.538000e+03,1.534000e+03,0.000000,6.687000e+03,...,0.000000,0.000000e+00,2.835000e+03,4.696500e+04,4.743115e+05,50729.500000,2.371060e+06,1.164270e+06,6.891330e+05,0.065000
50%,2013.50000,NaN,NaN,NaN,NaN,1.120100e+04,1.120100e+04,1.218200e+04,0.399000,4.017100e+04,...,144.000000,6.500000e+01,1.702600e+04,2.878030e+05,6.798150e+05,100601.000000,6.544964e+06,2.830683e+06,1.296181e+06,0.109000
75%,2015.25000,NaN,NaN,NaN,NaN,1.520560e+05,1.520560e+05,1.408360e+05,81.667000,6.946090e+05,...,2758.500000,3.766000e+03,1.520090e+05,1.990214e+06,2.140766e+06,200419.000000,2.395181e+07,9.269072e+06,6.730812e+06,0.191500
max,2017.00000,NaN,NaN,NaN,NaN,1.041541e+06,1.041540e+06,1.834171e+06,7307.301000,1.402012e+07,...,903032.000000,1.380573e+06,1.024950e+07,6.268032e+06,1.097884e+07,673111.000000,5.971232e+07,2.344271e+07,1.824127e+07,0.312000

In [ ]:
# Como fazer para selecionar apenas uma coluna
base["ano"]
base[["ano","nome_uf"]]
base["valor_producao"]

0         2777.0
1            1.0
2         8804.0
3            NaN
4       560050.0
         ...
211          NaN
212          NaN
213          NaN
214    1687116.0
215          NaN
Name: valor_producao, Length: 216, dtype: float64

Operações:

In [ ]:
# isso não tem sentido algum. É só para testar
print(base.ano.mean())
base_na = base.dropna()
base_na["valor_producao"].mean()

2013.5

1159152.375

In [ ]:
# Desvio padrão
base.area_colhida.std()

256199.1743914004

In [ ]:
#Frequencia de valores
base.ano.value_counts()

2010    27
2011    27
2012    27
2013    27
2014    27
2015    27
2016    27
2017    27
Name: ano, dtype: int64

In [ ]:
# seleciona várias colunas. Colocar lista de campos
base[["ano","nome_uf","emissao"]]

      ano            nome_uf     emissao
0    2010               Acre      91.000
1    2010            Alagoas     160.804
2    2010           Amazonas     401.762
3    2010              Amapá      18.035
4    2010              Bahia  150275.330
..    ...                ...         ...
211  2017  Rio Grande do Sul  782073.271
212  2017     Santa Catarina  110743.214
213  2017            Sergipe     362.841
214  2017          São Paulo   91648.921
215  2017          Tocantins    1752.389

[216 rows x 3 columns]

In [ ]:
# 3) Qual é a região com maior perda de alimentos?


#Cria um datafame somente das perdar por região. Elimina as regiões que não tem dados (NA)
base_perda = base[["nome_regiao","area_plantada","perdas"]]
# Elimina todos os registro que tenham NA no campo perdas
base_perda = base_perda.dropna(subset=['perdas'])

#Area plantada em números absolutos de 2010 a 2017"
print()
print("Area plantada:")
print("Norte       : ",base_perda[base_perda.nome_regiao == "Norte"].area_plantada.sum())
print("Nordeste    : ",base_perda[base_perda.nome_regiao == "Nordeste"].area_plantada.sum())
print("Centro-oeste: ",base_perda[base_perda.nome_regiao == "Centro-oeste"].area_plantada.sum())
print("Sudeste     : ",base_perda[base_perda.nome_regiao == "Sudeste"].area_plantada.sum())
print("Sul         : ",base_perda[base_perda.nome_regiao == "Sul"].area_plantada.sum())



#Perdas em números absolutos:
print()
print("Perdas de 2010 a 2017:")
print("Norte       :",base_perda[base_perda.nome_regiao == "Norte"].perdas.sum())
print("Nordeste    :",base_perda[base_perda.nome_regiao == "Nordeste"].perdas.sum())
print("Centro-oeste:",base_perda[base_perda.nome_regiao == "Centro-oeste"].perdas.sum())
print("Sudeste     :",base_perda[base_perda.nome_regiao == "Sudeste"].perdas.sum())
print("Sul         :",base_perda[base_perda.nome_regiao == "Sul"].perdas.sum())

#Perdas proporcionais à area plantada
print()
print("Perdas proporcionais à area plantada de 2010 a 2017:")
print("Norte       : ","{0:.5f}".format(base_perda[base_perda.nome_regiao == "Norte"].perdas.sum() / base_perda[base_perda.nome_regiao == "Norte"].area_plantada.sum()))
print("Nordeste    : ","{0:.5f}".format(base_perda[base_perda.nome_regiao == "Nordeste"].perdas.sum() / base_perda[base_perda.nome_regiao == "Nordeste"].area_plantada.sum()))
print("Centro-oeste: ","{0:.5f}".format(base_perda[base_perda.nome_regiao == "Centro-oeste"].perdas.sum() / base_perda[base_perda.nome_regiao == "Centro-oeste"].area_plantada.sum()))
print("Sudeste     : ","{0:.5f}".format(base_perda[base_perda.nome_regiao == "Sudeste"].perdas.sum() / base_perda[base_perda.nome_regiao == "Sudeste"].area_plantada.sum()))
print("Sul         : ","{0:.5f}".format(base_perda[base_perda.nome_regiao == "Sul"].perdas.sum() / base_perda[base_perda.nome_regiao == "Sul"].area_plantada.sum()))

Area plantada:
Norte       :  924910.0
Nordeste    :  1318472.0
Centro-oeste:  221474.0
Sudeste     :  13403920.0
Sul         :  461527.0

Perdas de 2010 a 2017:
Norte       : 14665.339
Nordeste    : 11285.072
Centro-oeste: 582.188
Sudeste     : 12620.574
Sul         : 3228.65

Perdas proporcionais à area plantada de 2010 a 2017:
Norte       :  0.01586
Nordeste    :  0.00856
Centro-oeste:  0.00263
Sudeste     :  0.00094
Sul         :  0.00700

In [ ]:
# 1) Qual é a relação entre o plantio e a emissão de gases de efeito estufa?
base_plantada_emissao = base[["area_plantada","emissao"]]
#Retira todo e qualquer registro com NA, seja da area plantada ou na emissao"
base_plantada_emissao = base_plantada_emissao.dropna()
print("Emissão de gases por hectare:",base_plantada_emissao.emissao.sum()/base_plantada_emissao.area_plantada.sum())

Emissão de gases por hectare: 0.32411400511062166

2) Qual é a perda de alimentos na colheita de cada região?

In [ ]:
# Alterado por Natália

base_perda = base[["ano","nome_regiao","area_plantada", "area_colhida"]]
base_perda = base_perda.dropna()

base_perda = base_perda.groupby(['ano', 'nome_regiao'])
base_perda = base_perda.sum()

base_perda['perda'] = base_perda["area_plantada"].sub(base_perda["area_colhida"])

display(base_perda)

                   area_plantada  area_colhida   perda
ano  nome_regiao
2010 Centro-oeste        27465.0       27400.0    65.0
     Nordeste           163366.0      163366.0     0.0
     Norte              171510.0      170858.0   652.0
     Sudeste           1716810.0     1715488.0  1322.0
     Sul                 82673.0       82673.0     0.0
2011 Centro-oeste        30841.0       30841.0     0.0
     Nordeste           166370.0      166370.0     0.0
     Norte              167140.0      166916.0   224.0
     Sudeste           1709794.0     1709794.0     0.0
     Sul                 74854.0       74854.0     0.0
2012 Centro-oeste        31517.0       31517.0     0.0
     Nordeste           169260.0      168884.0   376.0
     Norte              138064.0      137554.0   510.0
     Sudeste           1711332.0     1710549.0   783.0
     Sul                 72400.0       71576.0   824.0
2013 Centro-oeste        28790.0       28770.0    20.0
     Nordeste           170690.0      170628.0    62.0
     Norte              107926.0      100043.0  7883.0
     Sudeste           1721887.0     1721222.0   665.0
     Sul                 64964.0       64859.0   105.0
2014 Centro-oeste        27386.0       27386.0     0.0
     Nordeste           170957.0      169829.0  1128.0
     Norte               92310.0       92009.0   301.0
     Sudeste           1673165.0     1672778.0   387.0
     Sul                 38333.0       35825.0  2508.0
2015 Centro-oeste        28812.0       28651.0   161.0
     Nordeste           173955.0      170524.0  3431.0
     Norte               84056.0       83791.0   265.0
     Sudeste           1654702.0     1650197.0  4505.0
     Sul                 44747.0       44551.0   196.0
2016 Centro-oeste        24259.0       24179.0    80.0
     Nordeste           172040.0      170236.0  1804.0
     Norte               89774.0       81631.0  8143.0
     Sudeste           1679099.0     1677232.0  1867.0
     Sul                 43388.0       43326.0    62.0
2017 Centro-oeste        22404.0       22401.0     3.0
     Nordeste           131834.0      128935.0  2899.0
     Norte               74130.0       73971.0   159.0
     Sudeste           1537131.0     1536983.0   148.0
     Sul                 40168.0       40127.0    41.0

4) Qual a relação do desperdício com a emissão de gases do efeito estufa?

In [ ]:
# Agrupando por ano e região e somando as áreas plantadas, áreas colhidas e emissões
base_emissao = base[["ano", "nome_regiao", "area_plantada", "area_colhida", "emissao"]]
base_emissao = base_emissao.dropna()

base_emissao = base_emissao.groupby(['ano', 'nome_regiao']).sum()

base_emissao['perda'] = base_emissao["area_plantada"].sub(base_emissao["area_colhida"])

# Calculando a relação entre a perda e a emissao de gases de efeito estufa
base_emissao['relacao_perda_emissao'] = base_emissao['perda'] / base_emissao['emissao']
display(base_emissao)

                   area_plantada  area_colhida     emissao   perda  \
ano  nome_regiao
2010 Centro-oeste        27465.0       27400.0  190981.313    65.0
     Nordeste           163366.0      163366.0  153126.450     0.0
     Norte              171510.0      170858.0    1529.542   652.0
     Sudeste           1716810.0     1715488.0   94255.340  1322.0
     Sul                 82673.0       82673.0  180369.194     0.0
2011 Centro-oeste        30841.0       30841.0  237783.155     0.0
     Nordeste           166370.0      166370.0  173521.083     0.0
     Norte              167140.0      166916.0    1777.512   224.0
     Sudeste           1709794.0     1709794.0  101137.576     0.0
     Sul                 74854.0       74854.0  165273.588     0.0
2012 Centro-oeste        31517.0       31517.0  245794.916     0.0
     Nordeste           169260.0      168884.0  158757.466   376.0
     Norte              138064.0      137554.0    2093.929   510.0
     Sudeste           1711332.0     1710549.0  103940.732   783.0
     Sul                 72400.0       71576.0  160455.400   824.0
2013 Centro-oeste        28790.0       28770.0  209243.539    20.0
     Nordeste           170690.0      170628.0  148660.520    62.0
     Norte              107926.0      100043.0    2445.375  7883.0
     Sudeste           1721887.0     1721222.0  106242.297   665.0
     Sul                 64964.0       64859.0  156090.551   105.0
2014 Centro-oeste        27386.0       27386.0  228969.004     0.0
     Nordeste           170957.0      169829.0  158949.291  1128.0
     Norte               92310.0       92009.0    2546.435   301.0
     Sudeste           1673165.0     1672778.0  112129.905   387.0
     Sul                 38333.0       35825.0  187367.119  2508.0
2015 Centro-oeste        28812.0       28651.0  219638.838   161.0
     Nordeste           173955.0      170524.0  160088.009  3431.0
     Norte               84056.0       83791.0    2095.854   265.0
     Sudeste           1654702.0     1650197.0  119766.073  4505.0
     Sul                 44747.0       44551.0  179059.917   196.0
2016 Centro-oeste        24259.0       24179.0  207676.099    80.0
     Nordeste           172040.0      170236.0  149338.100  1804.0
     Norte               89774.0       81631.0    2308.124  8143.0
     Sudeste           1679099.0     1677232.0  122167.574  1867.0
     Sul                 43388.0       43326.0  181308.248    62.0
2017 Centro-oeste        22404.0       22401.0  227224.503     3.0
     Nordeste           131834.0      128935.0  147652.263  2899.0
     Norte               74130.0       73971.0    1718.519   159.0
     Sudeste           1537131.0     1536983.0  123961.384   148.0
     Sul                 40168.0       40127.0  165435.173    41.0

                   relacao_perda_emissao
ano  nome_regiao
2010 Centro-oeste               0.000340
     Nordeste                   0.000000
     Norte                      0.426271
     Sudeste                    0.014026
     Sul                        0.000000
2011 Centro-oeste               0.000000
     Nordeste                   0.000000
     Norte                      0.126019
     Sudeste                    0.000000
     Sul                        0.000000
2012 Centro-oeste               0.000000
     Nordeste                   0.002368
     Norte                      0.243561
     Sudeste                    0.007533
     Sul                        0.005135
2013 Centro-oeste               0.000096
     Nordeste                   0.000417
     Norte                      3.223636
     Sudeste                    0.006259
     Sul                        0.000673
2014 Centro-oeste               0.000000
     Nordeste                   0.007097
     Norte                      0.118204
     Sudeste                    0.003451
     Sul                        0.013385
2015 Centro-oeste               0.000733
     Nordeste                   0.021432
     Norte                      0.126440
     Sudeste                    0.037615
     Sul                        0.001095
2016 Centro-oeste               0.000385
     Nordeste                   0.012080
     Norte                      3.527973
     Sudeste                    0.015282
     Sul                        0.000342
2017 Centro-oeste               0.000013
     Nordeste                   0.019634
     Norte                      0.092522
     Sudeste                    0.001194
     Sul                        0.000248

4.1 Diminuir a perda reflete diretamente na diminuição da emissão dos gases?

In [ ]:
# Correlacionando a perda e a emissão de gases de efeito estufa
correlacao = base_emissao['perda'].corr(base_emissao['emissao'])

# Correlação negativa: significa que há uma relação inversa entre perda e emissão.
# Correlação positiva: significa que há uma relação direta entre perda e emissão.

print(f"A correlação entre a perda e emissão de gases de efeito estufa é: {correlacao}")

A correlação entre a perda e emissão de gases de efeito estufa é: -0.37188874721613097

4.2 Qual a relação entre a produtividade e a emissão de gases do efeito estufa?

In [ ]:
# Calculo da produtividade
base['produtividade'] = base['producao_cafe'] / base['area_colhida']
# Agrupamento por ano e região e calculo da média da produtividade e a soma das emissões
base_prod_emissao = base.groupby(['ano', 'nome_regiao'])[['produtividade', 'emissao']].agg({'produtividade':'mean', 'emissao':'sum'})
# Relação entre a produtividade e emissão de gases de efeito estufa
base_prod_emissao['relacao_prod_emissao'] = base_prod_emissao['produtividade'] / base_prod_emissao['emissao']
display(base_prod_emissao)

                   produtividade      emissao  relacao_prod_emissao
ano  nome_regiao
2010 Centro-oeste            NaN   190981.313                   NaN
     Nordeste                NaN   287474.726                   NaN
     Norte                   NaN    14283.199                   NaN
     Sudeste                 NaN    94255.340                   NaN
     Sul                     NaN  1064857.451                   NaN
2011 Centro-oeste            NaN   237783.155                   NaN
     Nordeste                NaN   311106.299                   NaN
     Norte                   NaN    14154.001                   NaN
     Sudeste                 NaN   101137.576                   NaN
     Sul                     NaN  1063188.210                   NaN
2012 Centro-oeste            NaN   245794.916                   NaN
     Nordeste                NaN   296987.037                   NaN
     Norte                   NaN    14999.851                   NaN
     Sudeste                 NaN   103940.732                   NaN
     Sul                     NaN  1045301.824                   NaN
2013 Centro-oeste            NaN   209243.539                   NaN
     Nordeste                NaN   286390.545                   NaN
     Norte                   NaN    15359.413                   NaN
     Sudeste                 NaN   106242.297                   NaN
     Sul                     NaN  1072395.094                   NaN
2014 Centro-oeste            NaN   228969.004                   NaN
     Nordeste                NaN   297580.760                   NaN
     Norte                   NaN    15284.309                   NaN
     Sudeste                 NaN   112129.905                   NaN
     Sul                     NaN  1077459.496                   NaN
2015 Centro-oeste            NaN   219638.838                   NaN
     Nordeste                NaN   299908.499                   NaN
     Norte                   NaN    15367.939                   NaN
     Sudeste                 NaN   119766.073                   NaN
     Sul                     NaN  1066430.963                   NaN
2016 Centro-oeste            NaN   207676.099                   NaN
     Nordeste                NaN   287599.747                   NaN
     Norte                   NaN    15149.345                   NaN
     Sudeste                 NaN   122167.574                   NaN
     Sul                     NaN  1097022.100                   NaN
2017 Centro-oeste       0.752552   227224.503          3.311930e-06
     Nordeste           0.155758   289680.303          5.376908e-07
     Norte              0.128446    15057.627          8.530288e-06
     Sudeste            0.896577   123961.384          7.232712e-06
     Sul                1.512573  1058251.658          1.429313e-06

5) Qual a relaçção entre a produtividade e a perda considerando os 5 estados com maior produtividade?

In [ ]:
# Calculo da produtividade
base['produtividade'] = base['producao_cafe'] / base['area_colhida']
# Agrupamento por estado e calculo da média da produtividade e a soma das perdas
base_prod_perda = base.groupby(['nome_uf'])[['produtividade', 'perdas']].agg({'produtividade':'mean', 'perdas':'sum'})
# Ordenamento dos estados pela produtividade em ordem decrescente e selecionando os 5 primeiros
top_5_estados = base_prod_perda.nlargest(5, 'produtividade')
# Relação entre produtividade e perda
top_5_estados['relacao_prod_perda'] = top_5_estados['produtividade'] / top_5_estados['perdas']
display(top_5_estados)

                  produtividade    perdas  relacao_prod_perda
nome_uf
Paraná                 1.512573  3228.650            0.000468
Minas Gerais           1.492337  7608.475            0.000196
Distrito Federal       1.382576   382.617            0.003613
Goiás                  1.180804   171.693            0.006877
São Paulo              1.033400  2913.782            0.000355